/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 de set de 2020, 17:34:31
    Author     : Dario
*/
body {
      
     }
form { display: flex;
       flex-direction: column;
         
         
     }

 div {
      width: 670px;
      margin : 0 auto 0 auto ;
     }